body {
    min-height: 100vh;
    margin: 0;
}

h1 {
    margin-top: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #94B49F;
    width: 100vw;
}